* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  background: rgba(201, 201, 201, 0.74);
  border: 1px solid rgba(111, 163, 241, 0.26);
  cursor: pointer;
};

.log {
  resize: none;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}